body{
    display:grid;
    place-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #2c2c2c;
    color:wheat;
    user-select: none;



}

img{
    height: 60vh;
    box-sizing: border-box;
    
}

.right p{
    font-size: 3em;
    text-align: center;
    
}

.main{
    display: flex;
    gap:100px
}

img:hover{
    cursor:-webkit-grabbing;
    opacity: 0.8;
}

img:active{
    opacity:0.8;
    content:url("imgs/zombie_cry.png");
    transform: scale(0.8);
    padding-right: 25px;
}

div .left{
    overflow: hidden;
    width:350px;
}

div .right{
    border: double;
    padding:10px;
    text-align: center;
    border-radius: 10px;
}

body h1{
    color: #239bc3;
   font-family: 'Freckle Face', cursive;

    font-size: 4em;
}

span{
    color: #239bc3;
}

button{
    background-color: #239bc3;
}